*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.section{
    position: relative;
    width: 100%;
    height: 100vh;
    display:flex;
}
.section .imgBx1{
    position:relative;
    width:50%;
    height:100%;
} 
 .section .imgBx1:before{
    content: "";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background:linear-gradient(225deg,#c91e63,#03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}
.section .imgBx1 img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:120%;
    object-fit: cover;
}
.section .contentBx1{
    display:flex;
    justify-content: center;
    align-items: center;
    width:80%;
    height:100%;
}
.section .contentBx1 .formBx1{
    width:50%;
}
.section .contentBx1 .formBx1 h2{
    width: 50%;
    color:#607d8b;
    font-weight:600;
    font-size:1.5em;
    text-transform:uppercase;
    margin-bottom:10px;
    border: 4px solid #ff4b45;
    padding: 10px;
    display:inline-block;
    letter-spacing:1px;
}
.section .contentBx1 .formBx1 .inputBx1{
    margin-bottom: 20px;
}
.section .contentBx1 .formBx1 .inputBx1 span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color:#607dBb;
    font-weight: 300;
    font-size: 16px;
    letter-spacing:1px;
}
.section .contentBx1 .formBx1 .inputBx1 input{
    width:100%;
    padding:10px 10px;
    outline: none;
    font-weight: 400;
    border:1px solid #607d8b;
    font-size: 16px;
    letter-spacing:1px;
    color:#607d8b;
    background:transparent;
    /* border-radius:1px; */
}
.section .contentBx1 .formBx1 .inputBx1 button[type="submit"]{
    background:#45ff55;
    width:50%;
    color:black;
    outline: none;
    border:none;
    font-weight: 500;
    font-size: 16px;
    letter-spacing:1px;
    cursor: pointer;
    padding: 10px;
    /* border-radius: 20px; */

}
.section .contentBx1 .formBx1 .inputBx1 button[type="submit"]:hover{
    background:#f5f236;

}
.section .contentBx1 .formBx1 h3{
    color:#a8328d;
    text-align:center;
    margin:80px 0 10px;
    font-weight: 500;
}
.heading12{
    color:#607dBb;
    text-align:center;
    margin:80px 0 10px;
    font-weight: 500;
    font-size: 20px;
}
.section .contentBx1 .formBx1 .sci{
    display:flex;
    justify-content: center;
    align-items: center;
}
.section .contentBx1 .formBx1 .sci li{
    list-style: none;
    width: 50px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;


}
.section .contentBx1 .formBx1 .sci li img{
    transform:scale(0.5)

}
.section .contentBx1 .formBx1 .sci li .facebook{
    width:90px;

}
/* .section .contentBx1 .formBx1 .sci li .twitter{
    width:150px;

}
.section .contentBx1 .formBx1 .sci li .instagram{
    width:200px;

} */